.timeline .menu .item {
  font-size: 0.7em;
}

.loading {
  position: absolute;
  top: 45%;
  left: 45%;
}

.patients {
  padding-top: 2em;
}

.ui.card.patient {
  margin-top: 1em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
}

.patient .patient-icon {
  float: left;
}

.patient .patient-info {
  float: left;
}

.patient-info-table {
  border: 0px !important;
}

.patient-info-header {
  padding-bottom: 0.2em;
}

.patient-info-header-text {
  text-decoration: underline;
  font-weight: bold;
}

.completion-icon {
  padding-left: 0.5em;
}

.review-title {
  font-weight: bold;
  font-size: 1.1em;
}
